<div class='titleForm'>
  <br /><br />
  <span class='formText vhod projectName'>
    Deli-Very Kebab
  </span>

</div>

<div class='sections'>
  <div class='bg-image'>
    <div class='adressItem' style='width: 100%'>
      <span style='color: #c0312f; font-weight: 900; font-size: 28px;'>Активные
        заказы
      </span>
      <div class='activeWrapper'>
        {{#each activeOrders}}
          <div class='buyOutItem' id='list_{{id}}'>
            <div class='subWr'>
              <div class='buyOutId'>{{id}}</div>
              <div class='buyOutTitle'>{{name}}</div>
              <div class='buyOutPrice'>{{discount}}</div>
            </div>
            <div style='text-align: right; margin: 30px 0 15px;'><button
                id='delete_{{id}}'
                type='button'
                data-type='close'
                class='courier-style'
              >Удалить</button></div>
          </div>
        {{/each}}
      </div>
    </div>
    <div class='adressItem' style='width: 100%'>
      <span
        style='color: #c0312f; font-weight: 900; font-size: 28px;'
      >Выкупленные заказы
      </span>
      <div class='buyOutWrapper'>
        {{#each buyOutOrders}}
          <div class='buyOutItem' id='list_{{id}}'>
            <div class='subWr'>
              <div class='buyOutId'>{{id}}</div>
              <div class='buyOutTitle'>{{name}}</div>
              <div class='buyOutPrice'>{{discount}}</div>
            </div>
            <div class='subWrRow'>
              <div class='buyOutPhone'>Телефон: {{'user.phone'}}</div>
              <div class='buyOutAddress'>Адрес: {{'user.address'}}</div>
            </div>
            <div style='text-align: right; margin: 30px 0 15px;'><button
                id='close_{{id}}'
                type='button'
                data-type='close'
                class='courier-style'
              >Закрыть</button></div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <form class='form' style='line-height: 3;'>
    <span class='formText vhod'>
      Профиль курьера
    </span>
    <div class=''>
      Логин:
      {{username}}
      <br />
      Телефон:
      {{phone}}
    </div>

    <a class='linkButton' href='/' style='font-size: 18px;'>На главную</a>
  </form>
</div>
