<div class='titleForm'>
  <br /><br />
  <span class='formText vhod projectName'>
    Deli-Very Kebab
  </span>

</div>

<div class='sections'>
  <div class='bg-image'>
    <img src='../src/site/kebab.jpg' alt='' />
  </div>

  <form
    class='form'
    id='login'
    action='/login'
    method='POST'
    style='line-height: 3;'
  >
    <span class='formText vhod'>
      Профиль
    </span>
    <div class='adressItem username'>
      {{userId}}/{{username}}
    </div>

    <div class='adressItem' style='width: 100%'>
      <span style='color: #c0312f; font-weight: 900; font-size: 24px;'>Телефон:
      </span>
      {{phone}}
    </div>

    <div class='adressItem' style='width: 100%'>
      <span style='color: #c0312f; font-weight: 900; font-size: 24px;'>Мои
        покупки:
      </span>
      {{phone}}
    </div>

    <div class='adressItem' style='width: 100%'>
      <span style='color: #c0312f; font-weight: 900; font-size: 24px;'>Статус
        текущего заказа:
      </span>
      {{phone}}
    </div>

    <a
      id='formRegister'
      class='linkButton vhod'
      href='/'
      style='text-decoration: underline; font-size: 18px;'
    >Вернуться на свою страницу</a>
  </form>
</div>
